<div class="card mt-5" *ngIf="user$ | async as user; else loading">
    <div class="card-body">
        <h3 class="card-title text-center">Confirm your email address</h3>
        <div class="form-group mt-2">
            <p class="text-center">
                We sent an email to <strong>{{ user?.email }}</strong>. Please check your Inbox and find the
                confirmation email.
            </p>
            <p class="text-center">
                If you cannot find the email within your Inbox, please check your Spam folder.
            </p>
        </div>
        <div class="form-group text-center mt-3">
            <button class="btn btn-primary" (click)="onSendEmail()">
                Re-send confirmation email
            </button>
        </div>
    </div>
</div>

<ng-template #loading>
    <app-loading></app-loading>
</ng-template>