<div class="bg-dark border-right p-3" id="sidebar">
    <div class="position-fixed">
        <h3 routerLink="" class="logo text-light">
            Gif-app
        </h3>
        <hr class="text-white" />

        <app-search></app-search>

        <hr class="text-white" />

        <ul class="list-group" *ngIf="user$ | async as user; else login">
            <button *ngIf="user" routerLink="/favoritos" class="list-group-item list-group-item-action">
                <i class="fa-solid fa-star"></i> Favoritos
            </button>
            <button *ngIf="user" (click)="onLogout()" class="list-group-item list-group-item-action">
                <i class="fa fa-user" aria-hidden="true"></i> Logout
            </button>
        </ul>

        <ng-template #login>
            <ul class="list-group">
                <button routerLink="/login" class="list-group-item list-group-item-action">
                    <i class="fa fa-user" aria-hidden="true"></i> Login
                </button>
            </ul>
        </ng-template>

        <hr class="text-white" />

        <div class="list-group list-reset">
            <a *ngFor="let item of history" (click)="search(item)" href="#"
                class="list-group-item list-group-item-action">
                {{item | titlecase}}
            </a>
        </div>

    </div>
</div>