ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    li {
        //height: 30vh;
        flex-grow: 1;
        display: none;

        &:last-child {
            flex-grow: 10;
        }
    }
}

app-gif {
    height: 100%;
}

@media (max-aspect-ratio: 1/1) {
    li {
        height: 30vh;
    }
}

// Short screens

@media (max-height: 480px) {
    li {
        height: 80vh;
    }
}

// Smaller screens in portrait

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    ul {
        flex-direction: row;
    }

    li {
        height: auto;
        width: 100%;
    }
}